.img{
    width: 120px;
    height: 170px;
}

.actors__List{
    display: flex;
    width: 950px;
    flex-wrap: wrap;
    list-style: none;
}

.imgWrap{
width: 130px;
margin-right: 5px;
margin-bottom: 5px;
}

